.score {
    position: relative;
    background-color: var(--tertiary-color);
}

.score h4 {
    font-size: 15px;
}

.score:before {
    content: "Score";
    font-size: 15px;
    position: absolute;
    top: 29px;
    left: 34px;
    font-weight: bold;

}


.score-textbox {
    width:120px;
    height: 120px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
   
    z-index: 2;
}

.score-value{
    font-size:24px ;
    font-weight: bold;
}

.score-text{
    display: flex;
    width:60px;
    justify-content: center;
line-height: 24px;
    color: var(--dashboard-font-color)
}